# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Build / dist
dist/
build/
public/build/

# Sass / CSS compilados
*.css.map
*.sass.map
*.scss.map

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# IDE / Editores
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak

# OS Files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage / tests
coverage/
.nyc_output/

# Cache
.cache/
.parcel-cache/
.next/
.nuxt/
.svelte-kit/
