@use "sass:math";
@use "base/variables" as v;

.footer {
  padding: math.div(v.$separacion, 2);
  background: v.$grisOscuro;

  .contenedor-footer {
    padding-top: math.div(v.$separacion, 2);
  }

  .copyright {
    color: v.$blanco;
    text-align: center;
  }
}
